# **Assignment for Class-2**

**Variable**  
2.1. Try it yourself: Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name = 'ARIF'
age = '28'
favorite_color = 'blue'

# Printing variables
print("name:", name)
print("age:", age)
print("favorite_color:", favorite_color)

name: ARIF
age: 28
favorite_color: blue

**Python Data types**

2.2. Try it yourself: Create one variable of each type and use the type() function to verify its type

In [ ]:
type1 = "ARIF_01"
type2 = 'Dhaka_Bangladesh'
type3 = 25
type4 = 99.99
is_valid = True
has_paid = False
result = None
type5 = 10j
type6 = ['mango', 'banana', 'apple']
type7 = ('mango', 'banana', 'apple')
type8 = range(9)
type9 = dict(name= 'ARIF', age=37)
type10 = set(("laptop", "computer", "mouse"))
type11 = frozenset(("TV", "frizz", "oven"))
type12 = bytes(10)
type13 = bytearray(10)
type14 = memoryview(bytes(6))

#print the type
#print(type1)
print(type(type1))
#print(type2)
print(type(type2))
#print(type3)
print(type(type3))
#print(type4)
print(type(type4))
print(type(is_valid))
print(type(has_paid))
print(type(result))
#print(type5)
print(type(type5))
#print(type6)
print(type(type6))
#print(type7)
print(type(type7))
#print(type8)
print(type(type8))
#print(type9)
print(type(type9))
#print(type10)
print(type(type10))
#print(type11)
print(type(type11))
#print(type12)
print(type(type12))
#print(type13)
print(type(type13))
#print(type14)
print(type(type14))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

**Arithmetic Operations**

2.3. Try it yourself: Calculate the area and perimeter of a rectangle with length 7 and width 5

In [ ]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print(f"The area of the rectangle is: {area}")
print(f"The perimeter of the rectangle is: {perimeter}")

The area of the rectangle is: 35
The perimeter of the rectangle is: 24

**Data Collections: Lists**

2.4. Try it yourself: Create a list of 5 Bangladeshi foods, then access the first and
last elements.

In [ ]:
# Creating a list
fruits = ["mango", "pineapple", "jackfruit", "litchi", "guavas" ]
# Accessing elements (indexing starts at 0")
print(fruits[1])       # pineapple
print(fruits[2])       # jackfruit
# Negative indexing (counts from the end)
print(fruits[-5:-1])   # ['mango', 'pineapple', 'jackfruit', 'litchi']
# Slicing lists
print(fruits[0:5])     # ['mango', 'pineapple', 'jackfruit', 'litchi', 'guavas']

pineapple
jackfruit
['mango', 'pineapple', 'jackfruit', 'litchi']
['mango', 'pineapple', 'jackfruit', 'litchi', 'guavas']

**List Methods**

2.5 Try it yourself: Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
num_list = [2, 4, 6, 8, 10]
#adding new number
num_list.insert(0, 1)
num_list.insert(2, 3)
num_list.insert(4, 5)
num_list.insert(6, 7)
num_list.insert(8, 9)
print(num_list)
#removing number from list:
num_list.remove(1)
num_list.remove(3)
num_list.remove(5)
num_list.remove(7)
num_list.remove(9)
print(num_list)
#Normal shorting list
sorted = num_list.sort()
print(num_list)
#reverse sorting list
num_list.reverse()
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

**Data Collections: Dictionaries**

2.6 Try it yourself: Create a dictionary about yourself with at least 4 key-value pairs

In [10]:
# Creating for own dictionary
student = {
"name": "ARIF",
"age": 36,
"father's name": "Nazim Uddin",
"my_son": "Izhaan Arham",
"university": "UITS",
"passing_year": 2012,
"courses": ["Python", "Data Science", "Web Development"]}

# Accessing values using keys
print(student["name"])           # ARIF
print(student["age"])            # 36
print(student["father's name"])  # Nazim Uddin
print(student["courses"] [2])    # Python
print(student["my_son"])
print(student["passing_year"])
print(student["courses"])

# Adding or modifying items
student["cell_number"] = "23214304"
student["age"] = 22
# Checking if a key exists
if "telephone" in student:
  print("telephone")
else:
  print("data not available")   # No email found

ARIF
36
Nazim Uddin
Web Development
Izhaan Arham
2012
['Python', 'Data Science', 'Web Development']
data not available

**Data Collections: Tuples**

2.7 Try it yourself: Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [51]:
# latitude and longitude in the Bangladesh

bangladesh_north_coordinte = (20.34, 26.38)
bangladesh_east_longitude = (88.01, 92.41)

# Access the individual components like this:
latitude = bangladesh_north_coordinte[0:2]
longitude = bangladesh_east_longitude[0:2]

print(f"North Latitude of bangladesh: {latitude}")
print(f"East Longitude of bangladesh: {longitude}")

North Latitude of bangladesh: (20.34, 26.38)
East Longitude of bangladesh: (88.01, 92.41)