# **Assignment for Class-2**

**Variable**  
2.1.  Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name = 'ARIF'
age = '28'
favorite_color = 'blue'

# Printing variables
print("name:", name)
print("age:", age)
print("favorite_color:", favorite_color)

name: ARIF
age: 28
favorite_color: blue

**Python Data types**

2.2. Create one variable of each type and use the type() function to verify its type

In [ ]:
type1 = "ARIF_01"
type2 = 'Dhaka_Bangladesh'
type3 = 25
type4 = 99.99
is_valid = True
has_paid = False
result = None
type5 = 10j
type6 = ['mango', 'banana', 'apple']
type7 = ('mango', 'banana', 'apple')
type8 = range(9)
type9 = dict(name= 'ARIF', age=37)
type10 = set(("laptop", "computer", "mouse"))
type11 = frozenset(("TV", "frizz", "oven"))
type12 = bytes(10)
type13 = bytearray(10)
type14 = memoryview(bytes(6))

#print the type
#print(type1)
print(type(type1))
#print(type2)
print(type(type2))
#print(type3)
print(type(type3))
#print(type4)
print(type(type4))
print(type(is_valid))
print(type(has_paid))
print(type(result))
#print(type5)
print(type(type5))
#print(type6)
print(type(type6))
#print(type7)
print(type(type7))
#print(type8)
print(type(type8))
#print(type9)
print(type(type9))
#print(type10)
print(type(type10))
#print(type11)
print(type(type11))
#print(type12)
print(type(type12))
#print(type13)
print(type(type13))
#print(type14)
print(type(type14))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

**Arithmetic Operations**

2.3.  Calculate the area and perimeter of a rectangle with length 7 and width 5

In [ ]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print(f"The area of the rectangle is: {area}")
print(f"The perimeter of the rectangle is: {perimeter}")

The area of the rectangle is: 35
The perimeter of the rectangle is: 24

**Data Collections: Lists**

2.4 . Create a list of 5 Bangladeshi foods, then access the first and
last elements.

In [ ]:
# Creating a list
fruits = ["mango", "pineapple", "jackfruit", "litchi", "guavas" ]
# Accessing elements (indexing starts at 0")
print(fruits[1])       # pineapple
print(fruits[2])       # jackfruit
# Negative indexing (counts from the end)
print(fruits[-5:-1])   # ['mango', 'pineapple', 'jackfruit', 'litchi']
# Slicing lists
print(fruits[0:5])     # ['mango', 'pineapple', 'jackfruit', 'litchi', 'guavas']

pineapple
jackfruit
['mango', 'pineapple', 'jackfruit', 'litchi']
['mango', 'pineapple', 'jackfruit', 'litchi', 'guavas']

**List Methods**

2.5 . Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
num_list = [2, 4, 6, 8, 10]
#adding new number
num_list.insert(0, 1)
num_list.insert(2, 3)
num_list.insert(4, 5)
num_list.insert(6, 7)
num_list.insert(8, 9)
print(num_list)
#removing number from list:
num_list.remove(1)
num_list.remove(3)
num_list.remove(5)
num_list.remove(7)
num_list.remove(9)
print(num_list)
#Normal shorting list
sorted = num_list.sort()
print(num_list)
#reverse sorting list
num_list.reverse()
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

**Data Collections: Dictionaries**

2.6 . Create a dictionary about yourself with at least 4 key-value pairs

In [ ]:
# Creating for own dictionary
student = {
"name": "ARIF",
"age": 36,
"father's name": "Nazim Uddin",
"my_son": "Izhaan Arham",
"university": "UITS",
"passing_year": 2012,
"courses": ["Python", "Data Science", "Web Development"]}

# Accessing values using keys
print(student["name"])           # ARIF
print(student["age"])            # 36
print(student["father's name"])  # Nazim Uddin
print(student["courses"] [2])    # Python
print(student["my_son"])
print(student["passing_year"])
print(student["courses"])

# Adding or modifying items
student["cell_number"] = "23214304"
student["age"] = 22
# Checking if a key exists
if "telephone" in student:
  print("telephone")
else:
  print("data not available")   # No email found

ARIF
36
Nazim Uddin
Web Development
Izhaan Arham
2012
['Python', 'Data Science', 'Web Development']
data not available

**Data Collections: Tuples**

2.7 . Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
# latitude and longitude in the Bangladesh

bangladesh_north_coordinte = (20.34, 26.38)
bangladesh_east_longitude = (88.01, 92.41)

# Access the individual components like this:
latitude = bangladesh_north_coordinte[0:2]
longitude = bangladesh_east_longitude[0:2]

print(f"North Latitude of bangladesh: {latitude}")
print(f"East Longitude of bangladesh: {longitude}")

North Latitude of bangladesh: (20.34, 26.38)
East Longitude of bangladesh: (88.01, 92.41)

**Data Collections: Sets**

2.8 \.Create two sets of colors and find their union and intersection.

In [12]:
# Define two lists of colors
colors1 = ["Red", "Green"]
colors2 = ["blue", "White"]

# Convert the lists to sets
set1 = set(colors1)
set2 = set(colors2)

# Calculate the union of the two sets
union_colors = set1 | set2
# Alternatively: union_colors = set1.union(set2)

# Calculate the intersection of the two sets
intersection_colors = set1 & set2

# Print the original lists
print("Original list 1:", colors1 [1])
print("Original list 2:", colors2 [0])

# Print the results
print("\nUnion of colors:", union_colors)
print("Intersection of colors:", intersection_colors)

Original list 1: Green
Original list 2: blue

Union of colors: {'White', 'Green', 'Red', 'blue'}
Intersection of colors: set()

**Control Structures: If-Else Statements**

Conditional statements let your program make decisions based on conditions

Remember to use proper indentation - Python uses indentation to define code blocks.

2.9 . Write a program that checks if a number is positive, negative, or zero

In [16]:
# Get input from the query
number = float(input("Enter a value: "))

# Check if the number is positive, negative, or zero
if number > 0:
    print(f"{number} is a positive value.")
elif number < 0:
    print(f"{number} is a negative value.")
else:
    print(f"{number} is zero.")

Enter a value: 3
3.0 is a positive value.

In [20]:
#Get the input form query
number = float(input("enter value"))

#checks the number is positive, negative, or zero
if number> 0:
    print(f"{number} is the positive value")
elif number < 0:
    print(f"{number} is the negative value")
else:
    print(f"{number} is the zero")

enter value-3
-3.0 is the negative value

**Nested If Statements and Logical Operators**

2.10.  Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [40]:
# Student are eligibile for discount condition
age = 25
student = 60
if age > 28:
  if student > 60:
    print("student eligibility for discount")
  else:
    print("student are not eligibile for discount")
else:
  if student < 25:
    print("student eligibility for discount")
  else:
    print("student are not eligibile for discount")

student are not eligibile for discount

**Control Structures: Loops**

2.11  Write a program that prints the first 10 even numbers
using a for or while loop.

In [48]:
# With a break statement

# Using range() function
for i in range(1):
   for num in range(2, 21, 2): # 2 to 20
    print(num)

2
4
6
8
10
12
14
16
18
20

**Multiplication table (1-10)**

In [12]:
#Multiplication table (1-10)
for i in range(1, 11):
  for j in range(1,3):
    product = i * j
    print(f"{i} * {j} = {product}")
  print("============")

1 * 1 = 1
1 * 2 = 2
============
2 * 1 = 2
2 * 2 = 4
============
3 * 1 = 3
3 * 2 = 6
============
4 * 1 = 4
4 * 2 = 8
============
5 * 1 = 5
5 * 2 = 10
============
6 * 1 = 6
6 * 2 = 12
============
7 * 1 = 7
7 * 2 = 14
============
8 * 1 = 8
8 * 2 = 16
============
9 * 1 = 9
9 * 2 = 18
============
10 * 1 = 10
10 * 2 = 20
============

**Loop Control and Nested Loops**

2.12 Write a program that prints a simple number pyramid pattern using nested loops.

In [28]:
#Pattern printing
def pyramid(n):
  for i in range(1, n+1):
    # Print leading spaces
    for j in range(n -i):
      print(" ", end="")
      # Print asterisks for the current row
    for k in range(1, 2*i):
      print("*", end="")
    print()
pyramid(8)

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

**Functions: Basics**

2.13:  Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [49]:
def celsius_to_fahrenheit(celsius):
  """
  Converts a temperature from Celsius to Fahrenheit.

  Args:
    celsius: The temperature in degrees Celsius.

  Returns:
    The temperature in degrees Fahrenheit.
  """
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

# Example usage:
temp_celsius = 25
temp_fahrenheit = celsius_to_fahrenheit(temp_celsius)
print(f"{temp_celsius}°C is equal to {temp_fahrenheit}°F")

25°C is equal to 77.0°F

**Functions: Advanced Features**

2.14 Create a function with default parameters that calculates the area of a rectangle.

In [53]:
def calculate_area(length=0, width=0):
  """
  Calculates the area of a rectangle.

  Args:
    length: The length of the rectangle. Defaults to 0.
    width: The width of the rectangle. Defaults to 0.

  Returns:
    The area of the rectangle (length * width).
  """
  return length * width

# Example Usage:
print(calculate_area(5, 4))  # Output: 20
print(calculate_area(7))     # Output: 0 (since width defaults to 0)
print(calculate_area())      # Output: 0 (both length and width default to 0)

20
0
0